[Unit]
Description=HBMonitor
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

After=network-online.target syslog.target
Wants=network-online.target

[Service]
StandardOutput=null
WorkingDirectory=/opt/HBMonv2
RestartSec=3
ExecStart=/usr/bin/python3 /opt/HBMonv2/monitor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
