
<fieldset style="width:1045px;background-color:#f1f1f1;margin-left:5px;margin-right:5px;font-size:14px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
<legend><b><font color="#000">&nbsp;.: Server Activity :.&nbsp;</font></b></legend>
{% if _table['MASTERS']|length >0 %}
 <table width=100% style="background-color:#f0f0f0;border:none !important;border-collapse:collapse;border:none;">
    <tr style="height:30px;border-collapse:collapse; border:none;">
      <td width=100% style="border-collapse:collapse;border:none;"><div id="rcornerh">Active QSO's</div></td>
    </tr>
    <tr style="border-collapse:collapse;border:none;">
    <td id="lact">
    <div id="rcorner"><div>
    {% for _master in _table['MASTERS'] %}
    {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
    {% if _cdata[1]['TS'] == True or _cdata[2]['TS'] == True %}
        {% if _cdata[1]['TRX'] == "RX" %}
        &#32;[<span style="color:#008000;">M</span>:&nbsp;<span style="color:#0065ff;">{{ _cdata[1]['CALL']|safe }}</span>
        &nbsp;<font color=red>>></font>&nbsp;<span style="color:#b5651d;">{{ _cdata[1]['TG']|safe }}</span>]&nbsp;
        {% endif %}
        {% if _cdata[2]['TRX'] == "RX" %}
        &#32;[<span style="color:#008000;">M</span>:&nbsp;<span style="color:#0065ff;">{{ _cdata[2]['CALL']|safe}}</span>
        &nbsp;<font color=red>>></font>&nbsp;<span style="color:#b5651d;">{{_cdata[2]['TG']|safe}}</span>]&nbsp;
        {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
{% else %}
         <table width=100%; style='background-color:#f9f9f9;font: 13pt arial, sans-serif; margin-top:4px;margin-bottom:4px;'>
             <tr style='border:none; background-color:#f0f0f0;'>
             <td style='border:none;height:60px;'><font color=brown><b><center>Waiting for data from the Server ...</center></b></td>
             </tr>
            </table>
 {% endif %}
    {% for _peer, _pdata  in _table['PEERS'].items() %}
    {% if _pdata[1]['TS'] == True or _pdata[2]['TS'] == True %}
        {% if _pdata[1]['TRX'] == "RX" %}
        &#32;[<span style="color:#008000;">M</span>:&nbsp;<span style="color:#0065ff;">{{ _pdata[1]['CALL']|safe }}</span>
        &nbsp;<font color=red>>></font>&nbsp;<span style="color:#b5651d;">{{ _pdata[1]['TG']|safe }}</span>]&nbsp;
        {% endif %}
        {% if _pdata[2]['TRX'] == "RX" %}
        &#32;[<span style="color:#008000;">M</span>:&nbsp;<span style="color:#0065ff;">{{ _pdata[2]['CALL']|safe }}</span>
        &nbsp;<font color=red>>></font>&nbsp;<span style="color:#b5651d;">{{ _pdata[2]['TG']|safe }}</span>]&nbsp;
        {% endif %}
    {% endif %}
    {% endfor %}
{% if _table['OPENBRIDGES']|length >0 %}
    {% for _openbridge in _table['OPENBRIDGES'] %}
    {% set rx = namespace(value=0) %}
    {% if _table['OPENBRIDGES'][_openbridge]['STREAMS']|length >0 %}
       {% for entry in _table['OPENBRIDGES'][_openbridge]['STREAMS'] if _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0]=='RX' %}
         {% set rx.value=1 %}
       {% endfor %}
       {% if rx.value == 1 %}
         {% for entry in _table['OPENBRIDGES'][_openbridge]['STREAMS']  if _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0] == 'RX' %}&#32;[<span style="color:#008000;">O</span>:&nbsp;<font color=#0065ff>{{ _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][1]}}</font>&nbsp;<font color=red>>></font>&nbsp;<font color=#b5651d>TG&nbsp;{{ _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][2]|safe}}</font>]&nbsp;{% endfor %}
      {% endif %}
   {% endif %}
   {% endfor %}
     </div></div></td>
      </tr>
{% endif %}
</table>
</fieldset>
{% if _table['SETUP']['LASTHEARD'] == True %}
  {% include 'lastheard.html' ignore missing %}
{% endif %}
<fieldset style="background-color:#f0f0f0f0;margin-left:15px;margin-right:15px;font-size:14px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
<legend><b><font color="#000">&nbsp;.: Connected to Server :.&nbsp;</font></b></legend>
<table style="table-layout:fixed;width:100%; font: 10pt arial, sans-serif;font-weight:600;margin-top:5px;margin-bottom:5px;border:none !important;border-collapse:collapse;border:none;" width=100%>
{% if _table['MASTERS']|length >0 %}
<tr style="border-collapse:collapse;border:none;"><td style="border-collapse:collapse;border:none;">
<div style="background-color:#f9f9f9f9;background-image: linear-gradient(to bottom, #e9e9e9 50%, #bcbaba 100%);border-radius: 10px;-moz-border-radius:10px;-webkit-border-radius:10px;border: 1px solid LightGrey;">
<br>
<div style="text-align:left;"><span style="color:#464646;font-weight:600;line-height:1.4;">&nbsp;&nbsp;USERS:</span></div>
<div style="text-align:left;font:9.5pt arial, sans-serif;font-weight:bold;margin-left:25px; margin-right:25px;line-height:1.4;white-space:normal;">
    {% for _master in _table['MASTERS'] %}    
    {% if _table['MASTERS'][_master]['PEERS']|length >0 %}
    {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
    <span class="tooltip" style="border-bottom: 1px dotted white;">
    <a style="border-bottom: 1px dotted white;font: 9.5pt arial,sans-serif;font-weight:bold;color:#0066ff;text-shadow: 1px 1px 1px Lightgrey, 0 0 0.5em LightGrey, 0 0 1em whitesmoke;" target="_blank" href="http://www.qrz.com/db/{{_cdata['CALLSIGN']}}"><b>{{_cdata['CALLSIGN']}}</b></a>
    <span class="tooltiptext" style="left:115%;top:-10px;">
        <span style="font: 9pt arial,sans-serif;color:#FFFFFF">
        &nbsp;&nbsp;&nbsp;<b>DMR ID</b>: <b><font color=yellow>{{ _client }}</b></font><br>
        {% if _cdata['RX_FREQ'] == 'N/A' and _cdata['TX_FREQ'] == 'N/A' %}
             &nbsp;&nbsp;&nbsp;<b>Type: <font color=yellow>IP Network</font></b><br>
        {% else %} 
            &nbsp;&nbsp;&nbsp;<b>Type: <font color=yellow>Radio</font></b> ({{ _cdata['SLOTS'] }})<br>
        {% endif %}
        &nbsp;&nbsp;&nbsp;<b>Hardware</b>: {{_cdata['PACKAGE_ID'] }}
        <br>&nbsp;&nbsp;&nbsp;<b>Soft_Ver</b>: {{_cdata['SOFTWARE_ID'] }}
        <br>&nbsp;&nbsp;&nbsp;<b>Info</b>: {{_cdata['LOCATION']}}
        <br>&nbsp;&nbsp;&nbsp;<b>Master</b>: <font color=yellow>{{_master}}</font>
        <br>&nbsp;&nbsp;&nbsp;<b>Time connected</b>: <font color=yellow>{{ _cdata['CONNECTED'] }}</font>
        </span></span></span>&nbsp;
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if _table['PEERS']|length >0 %}
<br>
<div style="text-align:left;"><span style="color:#464646;font-weight:600;line-height:1.8;">&nbsp;&nbsp;PEERS:</span></div>
<div style="text-align:left;font:9.5pt arial, sans-serif;font-weight:bold;margin-left:25px; margin-right:25px;line-height:1.6;white-space:normal;">
    {% for _peer, _pdata  in _table['PEERS'].items() %}
    <span class="tooltip" style="margin-bottom:6px;border-bottom: 1px dotted white;{{'background-color:#8ecfb4; color:#464646;' if _table['PEERS'][_peer]['STATS']['CONNECTION'] == 'YES' else 'background-color:#ff0000; color:white;'}}"><b>&nbsp;&nbsp;{{_peer}}&nbsp;&nbsp;</b>
    {% if _table['PEERS'][_peer]['STATS']['CONNECTION'] == 'YES' %}
    <span class="tooltiptext" style="top:120%;left:50%;margin-left:-70%;width:100px;padding: 2px 0;">
    <center><font color=white>Connected</font></center>
    </span>
   {% else %}
    <span class="tooltiptext" style="top:120%;left:50%;margin-left:-70%;width:100px;padding: 2px 0;">
    <center><b><font color=white>Disconnected</font></center>
    </span>
    {% endif %}
    </span>&nbsp;
 {% endfor %}
</div>
{% endif %}
<br>
 </div></td></tr></table>
</fieldset>
